<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Todo List App::</title>
</head>
<body>
    <header>
        <h1>TODO LIST APP::</h1>    
    </header>
    <main>
        <section class='form'>
            <form method="POST" action='/todos'>
            <input type="text" name='task' placeholder='Add Task To Do...' autofocus />
            <button type='submit'>Add Task</button>
        </form>    
        </section>

        <section class="task-list">
            <ul>
                <% for(i=0; i<task.length; i++)  { %>

                <li><%= task[i].task %><button class="btn-delete">Delete</button></li>    
                <% } %>
            </ul>
        </section>
    </main>
</body>
</html>