<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Todo List App::</title>
</head>

<body>
    <header>
        <h1>TODO LIST APP::</h1>
    </header>
    <main>
        <section class='form'>
            <form method="POST" action='/todos'>
                <input type="text" name='task' placeholder='Add Task To Do...' minlength="5" autofocus required />
                <button type='submit' id="btn-add">Add Task</button>
            </form>
        </section>

        <section class="task-list">
            <ul>
                <% for(i=0; i<task.length; i++)  { %>

                <li class='tasks'><%= task[i].task %>
                    <button class="btn-delete"> Delete </button></li>
                <% } %>
            </ul>
        </section>
    </main>
    <script src='main.js'>
    </script>
</body>

</html>